.cell {
  width: 20px;
  height: 20px;
  border: solid yellow 1px
}

.alive-true {
  background-color: green;
}

.alive-false {
  background-color: black;
}

.board {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: dotted 1px red;
}

html, body {
  background-color: darkgray;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}